    <head>
        <title>Belajar VueJS</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>
            .box {
                padding: 100px 0;
                width: 400px;
                text-align: center;
                background: grey;
                margin: 20px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        Hello
        <div id="app">
            <div v-if="show">
                <ul>
                    <li v-for="book in filteredBooks" :class=" fav book.isFav">
                        <p>{{ book.title }} - {{ book.author }}</p>

                    </li>
                </ul>
        
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>